<?xml version="1.0" encoding="UTF-8" ?>
<!--

       Copyright 2009-2017 the original author or authors.

       Licensed under the Apache License, Version 2.0 (the "License");
       you may not use this file except in compliance with the License.
       You may obtain a copy of the License at

          http://www.apache.org/licenses/LICENSE-2.0

       Unless required by applicable law or agreed to in writing, software
       distributed under the License is distributed on an "AS IS" BASIS,
       WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
       See the License for the specific language governing permissions and
       limitations under the License.

-->
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

    <!--<properties resource="jdbc.properties"></properties>-->

    <!-- autoMappingBehavior should be set in each test case -->
    <!-- 配置参数 -->
    <settings>
       <!-- 使用LOG4J日志 -->
        <setting name="logImpl" value="LOG4J" />
    </settings>

    <typeAliases>
        <typeAlias type="com.neuedu.pojo.UserInfo" alias="user"></typeAlias>
        <typeAlias type="com.neuedu.pojo.Product" alias="product"></typeAlias>
        <typeAlias type="com.neuedu.pojo.Category" alias="category"></typeAlias>
        <typeAlias type="com.neuedu.pojo.Cart" alias="cart"></typeAlias>
        <typeAlias type="com.neuedu.pojo.Shipping" alias="shipping"></typeAlias>
        <typeAlias type="com.neuedu.pojo.Order" alias="order"></typeAlias>
        <typeAlias type="com.neuedu.pojo.OrderItem" alias="orderItem"></typeAlias>
        <typeAlias type="com.neuedu.pojo.PayInfo" alias="payInfo"></typeAlias>
    </typeAliases>

    <!--<environments default="development">
        <environment id="development">
            <transactionManager type="JDBC">
                <property name="" value=""/>
            </transactionManager>
            <dataSource type="UNPOOLED">
                <property name="driver" value="${jdbc.driver}"/>
                <property name="url" value="${jdbc.url}"/>
                <property name="username" value="${jdbc.username}"/>
                <property name="password" value="${jdbc.password}"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <mapper resource="com/neuedu/mapper/UserInfoMapper.xml"/>
        <mapper resource="com/neuedu/mapper/ProductMapper.xml"/>
        <mapper resource="com/neuedu/mapper/CategoryMapper.xml"/>
    </mappers>-->

</configuration>
